:root {
  --primary-color: rosybrown;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 350%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 110%;
}

p {
  margin-top: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
}

section {
  background: white;
  padding: 24px;
  border-radius: 12px;
}

#contact {
  padding: 0;
}

.content__wrapper {
  display: flex;
  justify-content: center;
  background: lavenderblush;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  gap: 24px;
  padding-top: 24px;
}

.button {
  border-radius: 8px;
  color: #555;
  text-decoration: none;
  padding: 8px 12px;
  background: rgba(215,255,180,1);
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.button:hover {
  color: #222;
  background: rgb(255,180,215);
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  justify-content: center;
  gap: 24px;
}

.nav__item {
  text-decoration: none;
  font-size: 120%;
  color: var(--primary-color);
  font-weight: 500;
}

.nav__item:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45vh;
  background: var(--primary-color);
  border-radius: 0;
}

.contact__content {
  padding: 12px 12px;
}

